<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhhy.cuiweitourism">

    <uses-sdk android:minSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- begin 环信 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- GCM required, remember replace "com.hyphenate.chatuidemo" to your own package -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.jhhy.cuiweitourism.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.jhhy.cuiweitourism.permission.C2D_MESSAGE" />

    <permission
        android:name="com.jhhy.cuiweitourism.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.jhhy.cuiweitourism.permission.MIPUSH_RECEIVE" />

    <!-- end 环信 -->
    <application
        android:name=".service.CuiWeiTourismApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="yingwei0831#cuiweitourism" />
        <!-- experience-kefu#sandbox -->
        <!-- yingwei0831#cuiweitourism -->
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.easemob.chat.EMChatService"
            android:exported="true" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.easemob.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- android:theme="@style/MyCustomWindowTitle" -->

        <activity
            android:name=".ui.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.FlashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FindPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CitySelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.InnerTravelCityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".dialog.DatePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme.Light" />
        <!-- android:theme="@style/MyDialogStyleM" -->
        <activity
            android:name=".ui.InnerTravelDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.StartActivityListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.InnerTravelMainActivity"
            android:screenOrientation="portrait" />
        <!-- <activity android:name=".ui.OutsideTravelMainActivity" /> -->
        <activity
            android:name=".ui.StartActivityEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.InnerTravelEditOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.PriceCalendarReserveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.SettingInvoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".dialog.TourismCoinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EMyDialogStyle" />
        <activity
            android:name=".ui.SelectCustomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.ContactAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.ReserveNoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.SelectPaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.VisaDataConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PersonalizedCustomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.PersonalizedCustomStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ContactPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.Tab4AllOrdersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.Tab4UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.Tab4OrderDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.RequestRefundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.EditUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.Tab4AccountSecurityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.ModifyPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.ModifyTelephoneNumberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.Tab4AccountCertificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.Tab4MyCollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.Tab4MyTourismCoinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.Tab4MyReleaseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.Tab4MyCommentActivity" />
        <activity android:name=".ui.HotActivityListActivity" />
        <activity android:name=".ui.SearchRouteActivity" />
        <activity
            android:name=".ui.VisaMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.InnerTravelDetailActivity3" />
        <activity
            android:name=".ui.CarRentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.CarRentSelectTypeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.CarRentOrderActivity" />
        <activity android:name=".ui.CarRentSuccessActivity" />
        <activity android:name=".dialog.CarRentTimeSelectActivity" />
        <activity android:name=".ui.easemob.EasemobLoginActivity" />
        <activity android:name=".ui.easemob.ChatActivity" />
        <activity
            android:name=".ui.easemob.ContextMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EMyDialogStyle" />
        <activity android:name=".ui.LineFindActivity" />
        <activity android:name=".picture.TestPicActivity" />
        <activity android:name=".picture.BitmapCacheActivity" />
        <activity android:name=".picture.ImageGridActivity" />
        <activity android:name=".picture.PhotoActivity" />
        <activity android:name=".ui.InnerTravelMainActivity2" />
        <activity
            android:name=".ui.InnerActivity4"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".ui.UserContactsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.VisaListActivity" android:theme="@style/ActionBarTheme" />
        <activity android:name=".ui.SelectAllCountryAreaActivity" android:theme="@style/ActionBarTheme"/>
        <activity android:name=".ui.VisaItemDetailActivity" />
        <activity android:name=".ui.VisaNeedMaterialActivity"></activity>
    </application>

</manifest>